@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin breakpoint($breakpoint: $screen-sm) { // *-xs *-sm *-md *-lg
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
