---
layout: blank
permalink: resources/templates/email-footer/email-footer.html

# Styles

base-width: 600 #in px
color: "#454545"
font: Avenir Next, Avenir, Helvetica Neue, Arial, sans-serif
keyline_color: "#c6c6c6"

address: Office 4, Universal Marina, Crableck Lane, Southampton, SO31 7ZN
legal-copy:  >
  Alliants Ltd. Registered Address: Fryern House, 125 Winchester Road,
  Chandlers Ford, Hampshire SO53 2DR |
  Company Registration Number (UK): 06868886 |
  VAT Number (UK): 973844770 |
  Registered in England and Wales

disclaimer:
  font-size: 9pt
  color: "#797c85"
  copy: >
    The company accepts no liability for the content of this email, or for
    the consequences of any actions taken on the basis of the information
    provided, unless that information is subsequently confirmed in writing. If you
    are not the intended recipient you are notified that disclosing, copying,
    distributing or taking any action in reliance on the contents of this information is strictly prohibited.

---

<!--Signature-->

<table class="wrapper" cellpadding="0" cellspacing="0" border="0" style="width: {{ page.base-width }};">
  <tbody>
    <tr>
      <td style="padding-bottom: 20px">
        <table cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td style="font-family: {{ page.font }}; font-size: 12pt; color: {{ page.color }};">
                <font style="font-weight: 500; font-family: {{ page.font }}; font-size: 12pt; color: {{ page.color }};">Joe Smith</font>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<!--Appended footer-->

<style type="text/css">
  @media screen and (max-width: {{ page.base-width }}px) {
      table[class="wrapper"]{
          width:100% !important;
      }
  }
</style>

<table class="wrapper" cellpadding="0" cellspacing="0" border="0" style="width: {{ page.base-width }};">
  <tbody>
    <tr>
      <td style="border-top: 1px solid {{ page.keyline_color }}; padding-top: 20px; padding-bottom: 20px;" valign="top">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td><a href="https://www.alliants.com"><img id="TemplateLogo" width="100px" data-class="external" src="/resources/templates/email-footer/alliants-logo-blue-on-transparent--inline.png" alt="Alliants" style="display: block"></a></td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="border-top: 1px solid {{ page.keyline_color }}; text-align: right; padding-top: 16px; padding-bottom: 16px; padding-left: 40px; vertical-align: bottom" align="right">
        <table cellspacing="0" cellpadding="0" border="0" align="right">
          <tbody>
            <tr>
              <td style="font-family: {{ page.font }}; font-size: 10pt; text-align: right;">
                <font style="color: {{ page.color }}; font-size: 10pt; font-family: {{ page.font }};"><a href="https://www.alliants.com" style="color: #4b78ff">www.alliants.com</a></font>
              </td>
            </tr>
            <tr>
              <td style="font-family: {{ page.font }}; font-size: 10pt; text-align: right; padding-top: 10px;">
                <font style="color: {{ page.color }}; font-size: 10pt; font-family: {{ page.font }};">{{ page.address }}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td data-content="disclaimer" style="max-width: {{ page.base-width }}px; text-align: justify; padding-top: 6px; font-size: {{ page.disclaimer.font-size }}; color: {{ page.disclaimer.color }};" colspan="2">
        <font style="font-family: {{ page.font }}; font-size: {{ page.disclaimer.font-size }}; color: {{ page.disclaimer.color }}; line-height: 1.5">{{ page.disclaimer.copy }}</font>
      </td>
    </tr>
    <tr>
      <td style="max-width: {{ page.base-width }}px; text-align: justify; border-top: 0; padding-top: 16px; font-size: {{ page.disclaimer.font-size }}; color: rgb(198, 198, 198);" colspan="2">
        <font style="color: {{ page.disclaimer.color }}; font-size: {{ page.disclaimer.font-size }}; font-family: {{ page.font }}; line-height: 1.5">{{ page.legal-copy}}</font>
      </td>
    <tr>
  </tbody>
</table>
