  .label-category {
    transition: opacity .2s;
    font-size: .55em;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 700;
    margin-bottom: 1em;
    opacity: .6;
    color: black;
  }
